PRODOC_ENV=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=prodoc
POSTGRES_PASSWORD=prodoc
POSTGRES_DB=prodoc

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=prodoc
REDIS_PASSWORD=prodoc

AWS_S3_ENDPOINT_URL=http://localhost:8333
AWS_S3_CUSTOM_DOMAIN=localhost:8333/prodoc
AWS_S3_URL_PROTOCOL=http:
AWS_ACCESS_KEY_ID=prodoc
AWS_SECRET_ACCESS_KEY=prodoc
AWS_STORAGE_BUCKET_NAME=prodoc

DJANGO_URL=http://localhost:8000
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=prodoc
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://localhost:5173
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_SUPERUSER_USERNAME=prodoc
DJANGO_SUPERUSER_EMAIL=admin@prodoc.ai
DJANGO_SUPERUSER_PASSWORD=prodoc
DJANGO_ALTCHA_HMAC_SECRET=prodoc
DJANGO_ALTCHA_HMAC_KEY_SECRET=prodoc
DJANGO_FRONTEND_URL=http://localhost:5173

VITE_BACKEND_URL=http://localhost:8000
